button {
    width: 100px;
}
button {
    position: absolute;
}
button:nth-child(1) {
    left: 20px;
    bottom: 20px;
}
button:nth-child(2) {
    right: 20px;
    bottom: 20px;
}

button:nth-child(3) {
    top: 20px;
    right: 20px;
}

body {
    background: url('http://www.cameronmoll.com/img/pics/960grid.png');
}

.on-target {
    border: 2px dashed red;
}
