button {
    width: 100px;
}
button {
    position: absolute;
}
button:nth-child(1) {
    left: 20px;
    top: 20px;
}
button:nth-child(2) {
    left: 20px;
    bottom: 20px;
}
button:nth-child(3) {
    right: 20px;
    bottom: 20px;
}

button:nth-child(4) {
    top: 20px;
    right: 20px;
}

body {
    background: url('http://www.cameronmoll.com/img/pics/960grid.png');
}

.on-target {
    border: 2px dashed red;
}

[data-easymotion=bubble] {
    position: absolute;
    width: 52px;
    height: 52px;
    /*
    margin-top: -26px;
    margin-left: -26px;
    */
}
[data-easymotion=bubble] img {
    margin-left: -50%;
    margin-top: -50%;
}
